body {
    background-color: #e8e8e8;
}

.container {
    border-radius: 2px;
    background-color: white;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.usable-item{
    cursor: pointer;
}
